@import "libs/normalize.min"	
@import "libs/fonts"

*
	font-family: 'Roboto', sans-serif
	user-select: none
	box-sizing: border-box
	// font-family: 'Roboto Condensed', sans-serif
html 
	scroll-behavior: smooth

h1, h2, h3, p
	margin: 0

.animate__animated
	opacity: 1 !important

.container
	width: 1150px
	margin: 0 auto
	position: relative

.divider
	max-width: 220px
	height: 4px
	background-color: #F9BF3B
	margin: 20px auto

.pageup
	width: 40px
	position: fixed
	bottom: 20px
	right: 20px
	cursor: pointer
	opacity: .5

	
@import 'base/variables'
@import 'base/mixins'
@import 'base/general'
@import "blocks/first-screen"
@import "blocks/button"
@import "blocks/waiting"
@import "blocks/optimization"
@import "blocks/finish"
@import "blocks/gift"
@import "blocks/webinar"
@import "blocks/footer"
@import "blocks/modal"
@import "base/media"